
button{
    padding: 10px 10px;
}
*{
    margin: 0;
    padding: 0;
}
a:hover{
    color: blue;
    
}
.container{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    height: 100px;
    /* width: 100%; */
    align-items: center;
    gap: 10px;

} 
/* nav{
   
} */
a{
    text-decoration: none;
}

/* .nav-list {
    justify-content: center;
} */